body {
    background: #eee;
    font-size: small;
}

.live {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.live-thumbnail,
.live-body {
    display: inline-block;
    vertical-align: middle;
}

.live-thumbnail img {
    width: 64px;
}

.live-open-time {
    font-size: x-large;
}
